<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder centrado">
                <img src="assets/logo1.png" width="10%">
                Fast C0de
            </h1>
            <p class="lead fw-normal text-white-50 mb-0 typewriter">
                x Status Tech
            </p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="card shadow mb-5">
            <div class="card-body">
                Este es un servicio de tutorías estudiantiles. Nuestra meta es poder ayudar a jóvenes con sus cursos iniciales, en carreras relacionadas con 
                programación. Ofrecemos soporte con cursos relacionados con: Python, Java, JavaScript, HTML, C, C++ y Typescript. También ofrecemos algunos
                videos cortos en YouTube, para poder abarcar temas rápidos!
                <br>
                <br>
                <div class="terminalF">
                    def my_first():
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return "Hello World!"
                </div>
            </div>
        </div>
        <iframe width="500" height="315" 
                src="https://www.youtube.com/embed/fxFn0kP9Rc8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe width="500" height="315" 
                src="https://www.youtube.com/embed/FN2a9OM9UiQ" title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen style="margin-left: 40px">
        </iframe>

        <br>
        <br>
        <br>
        <div class="container-contact100-form-btn">
            <button class="contact100-form-btn" (click)="agendar()">
                <span>
                    Agendar Tutoría
                </span>
            </button>
        </div>
        
    </div>
</section>