<div class="container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" #form="ngForm" (ngSubmit)="submitForm(form.value)">
            <span class="contact100-form-title">
                <img src="assets/logo1.png" width="10%">
            Agendar Tutoría
            </span>
            <div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Name">
                <span class="label-input100">NOMBRE COMPLETO *</span>
                <input class="input100" type="text" name="name" placeholder="Ingrese su Nombre" required ngModel>
            </div>
            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="Enter Your Email (e@a.x)">
                <span class="label-input100">Email *</span>
                <input class="input100" type="email" name="email" placeholder="Ingrese Su Email " required ngModel>
            </div>
            <div class="wrap-input100 bg1 rs1-wrap-input100">
                <span class="label-input100">CÓDIGO DE PAÍS</span>
                <input class="input100" type="tel" name="pais" pattern="[0-9]{3}" placeholder="+506" required ngModel>

                <span class="label-input100">TELÉFONO</span>
                <input class="input100" type="tel" name="phone" pattern="[0-9]{4}-[0-9]{4}" placeholder="8888-888" required ngModel>
            </div>
            <div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Name">
                <span class="label-input100">FECHA *</span>
                <input class="input100" type="date" name="fecha" placeholder="Fecha de la Tutoría" required ngModel>
            </div>

            <div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Name">
                <span class="label-input100">INFORMACIÓN REQUERIDA *</span>
                <textarea class="input100" name="message" placeholder="Información sobre lo que se desea abarcar en la tutoría" required ngModel></textarea>
            </div>

            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn" type="submit">
                    <span>
                        Submit
                    </span>
                </button>
            </div>
        </form>
        
    </div>
</div>
